.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 4px;
    margin-top: 20px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 0.93em;
    color: grey;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #abc6db; color: #1383df;}

.show {display:block;}

@media all and (max-width: 767px) {
    .dropdown-content {
        margin-top: 0px;
    }
}